@page "/counter"

<!--===== Ukazka projektu =====-->
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<!--===== HTML Calculator =====-->

   <div class="container">

            <div class="display">
                <input id="screendisplay" type="text" placeholder="0">
            </div>

            <div class="buttons">

                <div class="simply">

                    <div class="row">
                        <button class="btnspace">⌫</button>
                        <button id="ce"class="btnclear">CE</button>
                        <button class="btnclear" >C</button>
                        <button class="btnplusminus">±</button>
                    </div>
                    <div class="row">
                        <button class="value">7</button>
                        <button class="value">8</button>
                        <button class="value">9</button>
                        <button class="operator">÷</button>                      
                    </div>
                     <div class="row">
                        <button class="value">4</button>
                        <button class="value">5</button>
                        <button class="value">6</button>
                        <button class="operator"> × </button>
                    </div>
                    <div class="row">
                        <button class="value">1</button>
                        <button class="value">2</button>
                        <button class="value">3</button>
                        <button class="operator">-</button>
                    </div>
                    <div class="row">
                        <button class="value">0</button>
                        <button class="value">.</button>
                        <button id="eval" class="btnresult">=</button>
                        <button class="operator">+</button>
                    </div>
                </div>   
                <div class="scientic">
                    <div class="row">
                        <button class="btnlog">log</button>
                        <button class="btnx2">x^2</button>
                    </div>
                    <div class="row">
                        <button class="btncos">cos</button>
                        <button class="btnx3">x^3</button>
                    </div>
                    <div class="row">
                        <button class="btnsinn">sin</button>
                        <button class="btnlnx">ln</button>
                    </div> 
                     <div class="row">
                        <button class="btntan">tan</button>
                        <button class="btn1x">1/x</button>
                    </div>   
                    <div class="row">
                         <button class="btnpi">π</button>
                         <button class="btnpercentage">%</button>
                    </div>
                    
                </div>
            </div>
   </div>


@code {

    /*Ukazka*/
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
