@import '';

/* /Pages/CalculatorPage.razor.rz.scp.css */
body[b-ho0ov4hsra] {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
    background: #ecf0f3;
}

.container[b-ho0ov4hsra] {
    margin-left: 12em;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    max-width: 500px;
}

.buttons[b-ho0ov4hsra] {
    display: flex;
    flex-direction: row;
}
.simply[b-ho0ov4hsra] {
    position: relative;
    bottom: 1px;
    right: 5px;
}

.scientic[b-ho0ov4hsra] {
    margin-left: 30px;
}

.row[b-ho0ov4hsra] {
    margin-left: 9px;
}

    .content[b-ho0ov4hsra] {
        width: 100%;
        margin-top: 1.7em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

.row button[b-ho0ov4hsra] {
    width: 60px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    transition: .1s;
    box-shadow: 5px 5px 8px #00000020, -5px -5px 8px #ffff;
}

        .row button:hover[b-ho0ov4hsra] {
            box-shadow: inset 5px 5px 8px rgba(16, 16, 16, .1), inset -5px -5px 8px #fff;
            background: #fff;
        }

.display #screendisplay[b-ho0ov4hsra] {
    margin-bottom: .5em;
    width: auto;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #e9ecef, inset -8px -8px 8px #e9ecef;
}

#eval[b-ho0ov4hsra] {
    background: #33ffd0;
    color: #212529;
}

    #eval:hover[b-ho0ov4hsra] {
        box-shadow: inset 5px 5px 8px #33ffd0, inset -5px -5px 8px #33ffd0;
    }





/* /Pages/HomePage.razor.rz.scp.css */
body[b-blz32sgtgq] {
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-jneejdmxm0] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-jneejdmxm0] {
    flex: 1;
}

.sidebar[b-jneejdmxm0] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-jneejdmxm0] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-jneejdmxm0]  a, .top-row .btn-link[b-jneejdmxm0] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-jneejdmxm0] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-jneejdmxm0] {
        display: none;
    }

    .top-row.auth[b-jneejdmxm0] {
        justify-content: space-between;
    }

    .top-row a[b-jneejdmxm0], .top-row .btn-link[b-jneejdmxm0] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-jneejdmxm0] {
        flex-direction: row;
    }

    .sidebar[b-jneejdmxm0] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-jneejdmxm0] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-jneejdmxm0] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-7agvlcll04] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-7agvlcll04] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-7agvlcll04] {
    font-size: 1.1rem;
}

.oi[b-7agvlcll04] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-7agvlcll04] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-7agvlcll04] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-7agvlcll04] {
        padding-bottom: 1rem;
    }

    .nav-item[b-7agvlcll04]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-7agvlcll04]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-7agvlcll04]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-7agvlcll04] {
        display: none;
    }

    .collapse[b-7agvlcll04] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
